body {
    background-color: aquamarine;
}

h1 {
    border: 2px;
    color: blueviolet;
    text-align: center;
    background-color: brown;
}

h1:hover {
    color: black;
    background-color: blue;
}

p {
    font-size: large;
    font-family: cursive;
}

.team-member {
    width: 30%;
    border: 3px solid #222;
    padding: 15px;
    background-color: aquamarine;
    text-align: center;
    box-sizing: border-box;
}

.team-member img {
    width: 20%;
    height: 100px;
    object-fit: cover;
    border: 2px solid #555;
}